<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<input type="button" name="" value="Sections">
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<input type="button" name="" value="Search">
			</li>
		</ul>
		</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now-btn">
			<button type="button" name="">Subscribe Now</button>
			
			</li>
			<li id="log-in-btn">
				<button type="button">Log In</button>
			</li>
			<li id="gear-dropdown-btn" >
				<i class="fas fa-cog" ></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>