<div class="masthead"> 
  <nav class="language-nav">
    <ul>
      <li><a href="">CSS</a></li>
      <li><a href="">HTML</a></li>
      <li><a href="">Javascript</a></li>
      <li><a href="">Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png">

    <ul class="masthead-links">
      <li><a>Tuesday, October 18, 2016</a></li>
      <li><a>Today’s Paper</a></li>
      <li><a>Video</a></li>
      <li><a>77°F</a></li>
      <li><a>AAO +100%</a></li>
    </ul>

</div>